{% extends "layout.html" %}
{% block body %}
  {% if session['username'] %}
    <form action="{{ url_for('addweb') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=50 name=title>
        <dt>Text:
        <dd><textarea name=text rows=30 cols=200 wrap=soft></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
        <li><a href="{{url_for('show',username=session['username'],id=entry.id)}}"> {{ entry.title }} </a>
        <!-- <li>{{ entry.text|striptags }}</li> -->
  {% else %}
        <li>目前还没有文章，请登录后发表！
  {% endfor %}
  </ul>
{% endblock %}
